body{
    padding-top: 80px; /*Tamaño extra de la barra de navegacion*/
    background-image: url(./img/depredador_fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;


    position: relative;
    min-height: 100vh ;
    padding-bottom: 220px;
}
/*Barra de navegacion*/            
header{
    background: #333;
    height: 80px;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.barra_ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}


.barra_li {
    margin: 0 5px;
}

.barra_li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; 
}

.barra_li a:hover {
    background-color: #555;
    border-radius: 5px; 
}


#logo{
    display: inline;
    float: left;
    position: absolute; 
    left: 20px; 

}
/*Tablas*/
table, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}
.margen_tablas_izquierda{
    margin-left: 400px;
}
.margen_tablas_derecha{
    float: right;
    margin-right: 60px;
}
/*Contenedores y imagenes*/
.portadas_peliculas{
    height: 550px;
    width: 390px;
}
.contenedor{
    height: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    padding: 50px;
    max-width: 800px;
    border-radius: 8px;
}
.imagenes_actores{
    height: 100px;
    width: 100px;
}
.a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.b{
    display: flex;
    flex-direction: column;
}

/*comics*/
.comics_izquierda{
    float: left;
    height: 460px;
    width: 300px;
}
.comics_derecha{
    float: right;
    height: 460px;
    width: 300px;
}
.contenedor_comics{
    height: 550px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    padding: 50px;
    max-width: 800px;
    border-radius: 8px;
}
/*juegos*/
.contenedor_juegos{
    height: 1000px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px auto;
    padding: 50px;
    max-width: 800px;
    border-radius: 8px;
}
.imagenes_juegos{
    height: 200px;
    width: 320px;
}
.portadas_juegos{
    height: 400px;
    width: 640px;
}
.imagenes_centro{
    text-align: center;
}
/*Otras cosas*/
h1{
    color: white;
}
h2{
    color: #9D1C1C
}
body main p{
    color: white;
}    

footer {
    background-color: #181818;
    padding: 10px;
    text-align: center;
    color: #ffcc00;
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
body footer figure a{
    margin-right: 50px;
}
.footer_link_blanco{
    color: #ccc;
}


















